body{
    background-color: rgb(62, 62, 62);
}

.bg-cyan{
    background-color: darkcyan;
}

.bg-salmon{
    background-color: darksalmon;
}

.md-total{
    line-height: 40px;
    height: 40px;
    width: 100%;
}

.md-direct{
    line-height: 40px;
    height: 40px;
    overflow: auto;
}

.md-harvested{
    line-height: 40px;
    height: 40px;
    overflow: auto;
}

.md-count-bar{
    line-height: 40px;
    height: 40px;
    overflow: auto;
    white-space: nowrap;
    min-width: 150px;
}